.idea
idea
.DS_Store
.env.collab
.env.prod
*.egg-info/
.installed.cfg
*.egg

dist
db.sqlite3
sqlite.db
venv

__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

!*media/.gitkeep
!*media/default/.gitkeep
!*media/default
!*media/default/*
!*media/team/.gitkeep
!*media/team
!*media/team/*
media/*

*migrations/*
**/migrations/**
!**/migrations
!**/migrations/__init__.py

log/debug.log

build
doc
home.rst
make.bat
Makefile

doc-dev

*.log
.log
