<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="google-signin-client_id"
        content="624596912501-9j2qvij4p1rpvfh2aauiv0qjd8chi9r4.apps.googleusercontent.com">

</head>
<body>
<div id="my-signin2"></div>
<a href="
https://github.com/login/oauth/authorize?client_id=6ab018adb1959b0c0340&redirect_uri=http://localhost:8000&state=qqww
">GitHub</a>
<script>
    function onSuccess(googleUser) {
        console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId() + '-' + typeof profile.getId());
        console.log('Full Name: ' + profile.getName());
        console.log('getGivenName: ' + profile.getGivenName());
        console.log('getFamilyName: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'http://localhost:8000/api/v1/auth/google/auth');
        xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8"');
        xhr.onload = function () {
            console.log('Signed in as: ' + xhr.responseText);
        };
        xhr.send(JSON.stringify({
            'id': profile.getId(),
            'token': id_token,
            "picture": profile.getImageUrl(),
            "email": profile.getEmail()
        })
        );

    }

    function onFailure(error) {
        console.log(error);
        console.log('error');
    }

    function renderButton() {
        gapi.signin2.render('my-signin2', {
            'scope': 'profile email',
            'width': 240,
            'height': 50,
            'longtitle': true,
            'theme': 'dark',
            'onsuccess': onSuccess,
            'onfailure': onFailure
        });
    }
</script>
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</body>
</html>
